html {
  margin: -8px;
  background: rgb(99, 89, 133);
  background: radial-gradient(
    circle,
    rgba(99, 89, 133, 1) 0%,
    rgba(68, 60, 104, 1) 35%,
    rgba(24, 18, 43, 1) 100%
  );
}

h1 {
  margin: 0px;
  font-family: "Orbitron", sans-serif;
  padding-top: 10px;
}

header {
  text-align: center;
  background-image: url("../images/banner.jpg");
  color: #c6ae84;
}
a {
  cursor: pointer;
  color: #b6eada;
  text-decoration: none;
}
a:hover {
  color: #5b8fb9;
  transition-property: font-size;
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 20px;
}
.nav {
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
body {
  color: rgb(138, 144, 161);
}
label {
  font-size: 20px;
}
.search-form {
  padding-left: 50px;
}
button {
  background-color: #6554b1;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
button:hover {
  opacity: 1;
}
#city-input {
  border: 2px solid rgb(138, 144, 161);
  width: 210px;
  height: 25px;
  background-color: rgb(67, 73, 90);
}
#city-input:hover {
  background-color: rgb(138, 144, 161);
}
#apod img {
  max-height: 50%;
  max-width: 50%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgba(24, 18, 43, 1);
  margin: 72px;
  width: 385px;
}
